torch
torchvision
tensorflow-gpu==2.0
tensorflow-probability==0.8.0
numpy 
numba
matplotlib 
PyQt5
absl-py 
pandas 
dataclasses-json 
h5py
itk 
SimpleITK 
vtk 
scikit-image 
scikit-learn 
scipy
dicom2nifti
nibabel 
pydicom
jupyterlab
tensorboard
pyyaml
python-dotenv
