torch
torchvision
tensorflow-gpu
tensorflow-probability
tensorflow-addons
numpy 
numba
matplotlib 
PyQt5
absl-py 
pandas 
dataclasses-json 
h5py
itk 
SimpleITK 
vtk 
scikit-image 
scikit-learn 
scipy
dicom2nifti
nibabel 
pydicom
jupyterlab
tensorboard
